<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>World Trip</title>
    <link rel="stylesheet" href="css/style.css">


    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
        integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous" />


</head>

<body>

    <div class="footer-container">
        <div class="footer-links">
            <div class="footer-link-wrapper">
                <div class="footer-link-items">
                    <h2>About Us</h2>
                    <a>How it works</a>
                    <!--link-->
                    <a>Investors</a>
                    <!--link-->
                    <a>Terms of Service</a>
                    <!--link-->
                </div>
                <div class="footer-link-items">
                    <h2>Contact Us</h2>
                    <a>Contact</a>
                    <!--link-->
                    <a>Support</a>
                    <!--link-->
                    <a>Sponsorships</a>
                    <!--link-->
                </div>
            </div>
            <div class="footer-link-wrapper">
                <div class="footer-link-items">
                    <h2>Social Media</h2>
                    <a href="https://www.instagram.com/">Instagram</a>
                    <!--link-->
                    <a href="https://facebook.com/">Facebook</a>
                    <!--link-->
                    <a href="https://twitter.com/">Twitter</a>
                    <!--link-->
                </div>
            </div>
        </div>
        <section class="social-media">
            <div class="social-media-wrap">
                <div class="social-icons">
                    <a class="social-icons-link">

                        <i class="fas fa-suitcase-rolling"> World Trip</i>
                    </a>
                </div>
                <small class="website-rights">World Trip © 2021</small>
                <div class="social-icons">
                    <a class="social-icon-link">
                        <a class="fab fa-facebook-f">
                        </a>
                        <a class="social-icon-link" target="_blank">
                            <a class="fab fa-instagram">
                            </a>

                            <a class="social-icon-link ">
                                <a class="fab fa-twitter">
                                </a>
                                <a class="social-icon-link">
                                    <a class="fab fa-linkedin">
                                    </a>
                </div>
            </div>
        </section>
    </div>

</body>

</html>